:root {
    --verde-escuro: #1A9047;
    --verde-claro:#2BC866;
    --azul-escuro:#004AAD;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Helvetica", "Helvetica Neue Bold", serif;
}
a {
    text-decoration: none;
}

header {
    /*position: fixed;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
    border-bottom: #c1c0c0 1px solid;
    background-color: white;
}
.logo-titulo {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.logo-titulo #logo {
    display: inline-flex;
    width: 60px;
    height: 60px;
    justify-content: center;
}
.logo-titulo #titulo {
    align-self: center;
    font-size: 20px;
    color: var(--azul-escuro);
}

.navbar {
    display: inline-flex;
    gap: 20px;
    align-self: center;
}
.navbar > a {
    font-size: 20px;
    color: var(--azul-escuro);
    font-weight: bold;
}

.userbuttons {
    display: inline-flex;
    gap: 10px;
}
.userbuttons > button {
    padding: 10px 20px;
}
.userbuttons #entrar {
    background-color: white;
    border-radius: 8px;
    padding: 10px 20px;
    color: var(--verde-claro);
    border: 1px solid var(--verde-escuro);
    font-weight: bold;
    font-size: 15px;
}
#entrar:hover{
    background-color: var(--verde-escuro);
    color: white;
    transition: 0.1s;
}

.userbuttons #cadastrar {
    background-color: var(--verde-escuro);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 15px;
}
#cadastrar:hover{
    background-color:white;
    color: var(--verde-escuro);
    transition: 0.4s;
}

/* Seção sobre */
.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px
}

.texto {
    display: flex;
    flex-direction: column;
}
.texto > h1 {
    margin: 10px 0;
    font-size: 35px;
    color: var(--verde-claro);
}

.texto > p {
    font-size: 18px;
    margin: 10px 0;
}

.texto > h2 {
    align-self: center;
    width: 50%;
    font-size: 25px;
    color: var(--verde-claro);
}

#button {
    background-color: var(--verde-claro);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 40px;
}
#button:hover {
    background-color: white;
    border: 1px solid var(--verde-claro);
    transition: 1s;
    color: var(--verde-claro);
}

.coluna {
    display: flex;
    flex-direction: row;
    height: 360px;
    margin: 10px 0;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.coluna > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 350px;
}

.coluna > div > h3  {
    color: var(--verde-claro);
}

.coluna > div > p {
    color: darkgrey;
    font-weight: initial;
    text-align-last: center;
}

